body{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#header{
    text-align: center;
}

#header h1{
    margin: 0;
    padding: 20px 0;
}

/*--------------------------------------------------------*/
/*                     Navbar styling                     */
/*--------------------------------------------------------*/

#navbar {
    text-align: center;
}

#navbar ul{
    margin: 0;
    list-style-type: none;
    padding: 5px;
}

#navbar li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#content{
    padding: 25px;
}

/*--------------------------------------------------------*/
/*                     Footer styling                     */
/*--------------------------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
}

/* Desktop design */
@media only screen and (min-width: 768px) {
    #container{
	width: 768px;
	margin-left: auto;
	margin-right: auto;
    }

    #header{
	font-size: 22pt;
    }

    #navbar a {
	font-size: 16pt;
    }

    #navbar a:hover{
	text-decoration: underline;
    }

    #content{
	font-size: 14pt;
    }
    

}
