{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Hi there!</h1>
<p>
    Thanks for stopping by my website.
    I'm <b>s4m13337</b> (obviously not my real name). 
    I am a programmer by profession, learner by vocation and a hobbyist musician.
    To know more about me, visit the <a href="/about">about</a> page.
</p> 

<h2>What do I do here?</h2>
<ul>
    <li>I write notes about whatever I'm currently learning.</li>
    <li>Occasionally, I record my travel experiences and stories.</li>
    <li>Sometimes, I rant about things happening around me.</li>
</ul>

<h2>Why do I write here?</h2>
<ul>
    <li><b>Because I can!</b> I can write whatever I want and no algorithm is going to filter it from the world.</li>
    <li>I've taken the red pill and kicked social media out of my life.</li>
    <li>I pity those who continue to live in bubble of social media.</li>
</ul>

<h2>Why is this website so plain?</h2>
<ul>
    <li><b>Because that is the way it is supposed to be!</b></li>
    <li>I always advocate minimal design.</li>
    <li>Minimal design adds maximum value to the actual content.</li>
</ul>

{% endblock content %}